.main-section {
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: flex-start; /* Align content to the top */
  height: 100vh; /* Ensure the section takes the full height of the viewport */
  padding-left: 50px; /* Add some left padding for spacing */
  background-color: #ed7874;
  width: 100%;
}

.text-content {
  display: flex;
  flex-direction: column; /* Keep text and button in a column */
}

.icon-container {
  display: flex; /* Align items in this container horizontally */
  align-items: flex-start; /* Align the icon to the top */
}

.main-section h1 {
    font-family: 'Fredoka One', cursive; /* Font style */
    font-size: 5rem; /* Increase font size as needed */
    text-align: left; /* Align text to the left */
    margin-top: 50px; /* Adjust top margin to move it higher on the page */
}

.eat-text {
    color: #001f3f; /* Dark blue color for "EAT." */
}

.text-content {
  color: #fff;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
}

.get-started-button {
  margin-top: 20px;
  background-color: #faf1e5;
  color: black;
  padding: 20px 40px; /* Increased padding */
  font-size: 1.5rem; /* Larger font size */
  cursor: pointer;
  border-radius: 12px; /* Rounded corners */
  border: none; /* No border */
  outline: none; /* Remove outline */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for both transform and shadow */
  box-sizing: border-box;
  font-family: 'Open Sans';
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Initial subtle shadow */
}

.get-started-button:hover {
  transform: translate(-5px, -5px); /* Moves diagonally up and to the left */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}


.icon img {
  width: 450px;
  margin-right: 75px;
  margin-bottom: 300px;
}