/* src/pages/GetStarted.css */

.get-started-container {
display: flex;
flex-direction: column;
align-items: center;
background-color: #ed7874;
height: 89vh;
padding: 40px 20px;
justify-content: center;
gap: 30px;
}

.greeting {
font-size: 2.5rem;
font-weight: bold;
margin: 0;
color: #2a2a2a;
}

.intro-text {
font-size: 1.2rem;
text-align: center;
margin: 15px 0 30px;
color: #333;
}

.session-buttons {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
gap: 10px;
transform: translateY(-150px);
}

.start-session-btn, .join-session-btn {
background-color: #023047;
color: #ffffff;
padding: 15px 40px;
font-size: 2.5rem;
border: none;
border-radius: 22px;
cursor: pointer;
display: flex;
text-align: center;
justify-content: center;
width: 45%;
font-family: 'Fredoka One', cursive;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.join-session-btn {
background-color: #ffffff;
color: #264653;
border: 1px solid #264653;
}

.arrow {
margin-left: 10px;
}

.divider {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}

.divider h3 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.8rem;
  color: #fff;
  background-color: #ed7874;
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}

.contact-link {
margin-top: 20px;
font-size: 0.9rem;
color: #264653;
text-decoration: underline;
}

.get-started-container h1 {
font-family: 'Fredoka One', cursive;
font-size: 5rem;
text-align: left;
margin-top: 50px;
color: #fff;
}

.get-started-container h2 {
font-family: 'Fredoka One', cursive; 
font-size: 2.3rem;
text-align: center;
padding: 80px;
font-weight: 400; 
color: #fff;
}

.get-started-container h3 {
font-family: 'Fredoka One', cursive;
font-size: 2.4rem;
text-align: left;
font-weight: 200; 
color: #fff;
margin-top: 1px;
margin-bottom: 1px;
}

.intro-text {
    transform: translateY(-100px);
}

.start-session-btn:hover, .join-session-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  }
