footer {
  background-color: #E6E6E6;
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Distribute space between text and buttons */
  height: 40px;
  z-index: 1000;
}

.footer__left a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 150px;
}

.footer__container {
  margin-right: 200px;
  display: flex;
  gap: 100px; /* Space between buttons */
}

.homepage-button,
.learn-more-button,
.contact-button,
.services-button {
  background-color: #001f3f;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 22px;
  border: none;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  font-family: 'Open Sans';
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 175px;
  height: 40px;
  text-align: center;
  font-weight: bold;
}

.homepage-button {
  background-color: #33855c;
}

.learn-more-button {
  background-color: #5d82b1;
}

.contact-button {
  background-color: #3d5a80;
}

.services-button {
  background-color: #023047;
}

.homepage-button:hover,
.learn-more-button:hover,
.contact-button:hover,
.services-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}